.options-container, .target-container {
  display: flex;
  margin: 2rem;
  text-align: center;
}

.item, .target {
  border: 1px solid grey;
  width: 10rem;
  max-width: 70%;
  margin: 1rem;
}

.target-container .target {
  min-height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.target .item {
  margin: 0.5rem;
}

.options-container .item {
  padding: 1rem;
}